
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    List<String> users = new List<string>() { "Varun", "Pratik", "Hariom", "Ayush", "Soham" };
    <ol>
        @foreach(String user  in users){
            <li>@user</li>
        }
    </ol>
}

